.starRating {
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
    padding: 1rem;
}

.starRating__stars {
    background-image: url(../images/icon-star.svg);
    background-repeat: space;
    width: 101px;
    height: 20px;
}

.starRating__text {
    color: var(--primary);
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding-top: .2rem;
}

@media(min-width: 59em) {

    .starRating {
        flex-direction: row;
    }

    .starRating__stars {
        margin: 0 2rem 0 1rem;
    }
}

@media(min-width:63em){
    .starRating__text {
        font-size: 1.1rem;
        font-weight: 700;
        margin-right: 2rem;
    }

    .first {
        margin-left: -100px;
        margin-right: 100px;
    }

    .second {
        margin-left: -50px;
        margin-right: 50px;
    }

    
}